:root {
  --jblack: #1e1d20;
  --jdarkgray: #333333;
  --jgray: #d6d6d6;
  --jblue: #0571e3;
  --jdarkblue: #01448b;
  --jdarkred: #bb8482;
  --jdarkgreen: #91bd83;
  --jdarkyellow: #b0ba53;
  --jwhite: #fbfbfd;
  --joffwhite: #f5f5f7;
  font-family: helvetica, Arial, sans-serif;
}

h1, h2, footer {
  text-align: center;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
}

body {
  background-color: var(--joffwhite);
  max-height: 100vh;
}

header {
  background-color: var(--jgray);
  padding:20px;
  margin: 50px;
  color: var(--jblack);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

section * {
  margin: 5px;
}

#photo {
  max-width: 400px;
}
